* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #515076;
  line-height: 18px;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  margin-bottom: 110px;
  text-align: center;
}

.container {
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("/img/bg_flowers.png");
  width: 1110px;
  margin: 0 auto;
  padding-top: 220px;
}

.product_card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  gap: 45px;
}

.product_card {
  background-color: #F7F7FA;
  width: 340px;
  padding: 25px;
}

.product_card_photo {
  display: block; 
  margin-bottom: 30px;
}

.product_card_category {
  color: #A5A3B9;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.product_card_name {
  font-size: 20px;
  line-height: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product_card_compound_wrapper {
  margin-top: 15px;
  margin-bottom: 25px;
}

.product_card_compound_item {
  margin-top: 5px;
}

.product_card_price {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.product_card_price_label {
  font-weight: 700;
  font-style: bold;
}